
<app-header></app-header>

<br>
<button mat-raised-button color="primary" (click)="testSilentRefresh()">Test silent refresh</button>

<br>
<mat-card><b>access_token:</b> {{access_token}}</mat-card>
<!--<mat-card><b>id_token:</b> {{id_token}}</mat-card>-->
<mat-card><b>id_token_expiration:</b> {{id_token_expiration}}</mat-card>
<mat-card><b>access_token_expiration:</b> {{access_token_expiration}}</mat-card>

<div *ngIf="userProfile">
  <b>user profile:</b>
  <pre>{{userProfile | json}}</pre>
</div>

<app-footer></app-footer>



