
<!--<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-info" role="alert">
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="login()" >LogIn</button>
          <button type="button" class="btn btn-danger" (click)="logout()" >LogOut</button>
        </div>
      </div>
    </div>
  </div>
</div>


<mat-toolbar color="primary" class="angular-logo">
  <mat-toolbar-row>
  <h1>
      Axa
  </h1>
  <div mat-dialog-actions>
  <button mat-button type="button"  (click)="login()" >LogIn</button>
  <button  mat-button type="button" (click)="logout()" >LogOut</button>

</div>
</mat-toolbar-row>
</mat-toolbar>-->


<app-header></app-header>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
